@mixin respond($breakpoint) {
	@if $breakpoint == tablet-port {
	  @media(min-width:600px) { @content };
	}
	@if $breakpoint == tablet-land {
	  @media(min-width:900px) { @content };
	}
	@if $breakpoint == desktop {
	  @media(min-width:1200px) { @content };
	}
  }

*,
*::before,
*::after {
  box-sizing: border-box
}

html {
	height: 100%;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 62.5%;
	color: rgb(95, 95, 95);
}

body {
	margin: 0;
	height: 100%;
}

input {
	border: none;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

button {
	border: none;
}

a {
	color: rgb(95, 95, 95);

	&:visited {
		color: rgb(95, 95, 95);
	}
}

.hidden {
	display:none !important;
}

.visible {
	display:block !important;
}

.invisible {
	opacity: 0 !important;
}