.container {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

#app {
	flex: 1;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.bottom-nav {
	flex: 0 0 5rem;
	height: 5rem;
	background-color: rgb(65, 65, 65);
	z-index: 10;

	&__list {
		height: 100%;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
