.sidebar {
	display: flex;
	flex-flow: column;
	position: fixed;
	max-height: 60%;
	width: 100%;
	bottom: 5rem;
	color: black;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 5px 0 rgb(220, 220, 220);
	opacity: 1;
	transition: opacity 0.3s ease-in, height 0.4s, max-height 0.4s;

	// Edge disappears when sidebar height < 35% 
	&__edge {
		flex: 0 0 6px;
		outline: 0;
		transition: all 0.1s;
		background-color: rgba(118, 178, 228, 0.2);
	}

	&__date {
		flex: 0 0 10rem;
		display: flex;
		flex-flow: row;
		background-color: #f9f9f9;
		box-shadow: 0 0 5px 0 gainsboro;
		//border-bottom: 2px solid rgb(240, 240, 240);
	}

	&__entries {
		flex: 1;
		padding: 2rem 0;
		align-items: center;


	}

	&--collapse {
		max-height:1%;
		//height: 0;
		opacity: 0;
	}

	@include respond(tablet-land) {
		height: 60rem;

		.sidebar--collapse {
			height: 0;
		}
	}
}

.entries {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	width: 100%;
	overflow-y: scroll;

	@include respond(tablet-land) {
		justify-content: center;
		flex-flow: row;
		overflow: hidden;
	}

	&__column {
		flex: 0 0 15rem;
		width: 80%;

		@include respond(tablet-land) {
			width: auto;
		}
	}



	&__item {
		list-style: none;
	}
}


.hidden {
	display:none;
}