.sidebar {
	display: flex;
	flex-flow: column;
	position: fixed;
	height: 70%;
	width: 100%;
	bottom: 5rem;
	color: black;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 10px 0 rgb(220, 220, 220);
	transition: height 0.1s ease-in, border-top 0.2s;
	border-top: 4px solid rgba(118, 178, 228, 0.5);
	border-radius: 5px;
	

	&--collapse {
		border-top: 20px solid rgba(118, 178, 228, 0.5);;
		height: 1%;
	}

	&__date {
		flex: 0 0 10rem;
		display: flex;
		flex-flow: row;
		padding: 0rem 0;
		border-bottom: 2px solid rgb(240, 240, 240);

		@include respond(desktop) {
			
		}
	}


	&__entries {
		flex: 1 0 30rem;
		overflow: hidden;

		@include respond(desktop) {
			flex: 1;
		}
	}
}

.entries {
	&__list {
		list-style: none;
	}

	&__item {
		list-style: none;
	}
}


.hidden {
	display:none;
}