.sidebar {
	display: flex;
	flex-flow: column;
	position: fixed;
	height: 70%;
	width: 100%;
	bottom: 5rem;
	color: black;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 10px 0 rgb(220, 220, 220);
	transition: height 0.1s;

	&--collapse {
		height: 1%;
	}

	&__edge {
		height: 5px;
		outline: 0;
		transition: all 0.1s;
		background-color: rgba(118, 178, 228, 0.5);

		&:hover {
			height: 10px;
			outline: 8px solid rgba(118, 178, 228, 0.5);
		}
	}

	&__date {
		flex: 0 0 10rem;
		display: flex;
		flex-flow: row;
		padding: 0rem 0;
		border-bottom: 2px solid rgb(240, 240, 240);
	}


	&__entries {
		flex: 1 0 30rem;
		overflow: hidden;

		@include respond(desktop) {
			flex: 1;
		}
	}
}

.entries {
	&__list {
		list-style: none;
	}

	&__item {
		list-style: none;
	}
}


.hidden {
	display:none;
}