.sidebar {
	display: flex;
	flex-flow: column;
	position: fixed;
	height: 70%;
	width: 100%;
	bottom: 5rem;
	color: black;
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 10px 0 rgb(220, 220, 220);
	transition: height 0.1s;

	&--collapse {
		height: 1%;
	}
	
	// Edge disappears when sidebar height < 35% 
	&__edge {
		height: 6px;
		outline: 0;
		transition: all 0.1s;
		background-color: rgba(118, 178, 228, 0.4);

		&:hover {
			height: 6px;
			//outline: 1px solid rgba(118, 178, 228, 0.5);
		}
	}

	&__date {
		flex: 0 0 10rem;
		display: flex;
		flex-flow: row;
		padding: 0rem 0;
		border-bottom: 2px solid rgb(240, 240, 240);
	}

	&__entries {
		flex: 1;
	}
}

.entries {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	overflow-y: scroll;

	@include respond(tablet-land) {
		flex-flow: row;
	}

	&__column {
		flex: 0 0 15rem;
	}



	&__item {
		list-style: none;
	}
}


.hidden {
	display:none;
}