.btn {
	padding: 1rem;
	margin: 0 1rem;
	background-color: white;
	box-shadow: 0 0 5px 0 rgb(220, 220, 220);
	border: none;
	//outline: 1px solid rgb(219, 219, 219);
	border-radius: 3px;
	
	&:hover { 
		background-color: rgba(118, 178, 228, 0.50);
		cursor: pointer;
	}

}

// .btn--new-entry { }

.btn--bottom-nav {
	background-color:white
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 0.3s;

	&--visible {
		opacity: 1;
	}
}

.entryPreview {
	display: flex;
	padding: 2rem;
	margin: 1rem;
	text-decoration: none;
	height: 10rem;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 10px 0 rgb(220 220 220);

	@include respond(tablet-land) {
		padding: 1rem;
	}

	&__day {
		flex: 1;
	}

	&__other {
		flex: 4;
		display: flex;
		flex-flow: column;
	}

	&__content {

	}

	&--small { height: 5rem; }

	&--home {
		height: 15rem;
		width: 30rem;
	}

	&:hover {
		//background-color: rgba(210, 235, 255, 0.40);
		background-color: rgba(255, 255, 255, 0.7);
		//outline: 2px solid rgb(219, 219, 219);
		outline: 2px solid rgba(118, 178, 228, 0.5);
	}

}

