.btn, a.btn {
	flex: 0 0 6rem;
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	background-color: white;
	color: black;
	box-shadow: 0 0 4px 0 rgb(220, 220, 220);
	border: none;
	height:4rem;
	border-radius: 3px;
	text-decoration: none;
	
	&:hover { 
		background-color: rgba(118, 178, 228, 0.50);
		cursor: pointer;
	}

}

.btn--bottom-nav {
	background-color:white
}

.entryPreview {
	display: flex;
	padding: 2rem;
	margin: 1rem;
	text-decoration: none;
	height: 6rem;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 10px 0 rgb(220 220 220);

	@include respond(tablet-land) {
		height: 5rem;
		padding: 1rem;
	}

	&__day {
		flex: 2;
		font-size: 2rem;
	}

	&__time {
		flex: 1;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.7);
		outline: 2px solid rgba(118, 178, 228, 0.5);
	}

}

.entryPreview__icon {

	&--entry {
		color: green;
		font-size: 2rem;

		@include respond(tablet-land) {
			font-size: 1.5rem;
		}
	}
	//background-color: red;
}

