.datepicker {
	display: flex;
	flex: 1;
	justify-content: center;
	text-align: center;
	z-index: 10;

	&__year {
		flex: 0 0 15rem;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__month {
		flex: 0 0 15rem;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
}
