.form {
	flex:1;
	display: flex;
	flex-flow: column;


	&__date {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding: 1rem;
		width: 20rem;
		//background-color: rgb(250, 250, 250);

		&:focus { border: 0; outline:0; }
		font-size: 2em;
		font-weight: bold;
		
	}

	&__time {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding: 1rem;
		width: 20rem;
		//background-color: rgb(250, 250, 250);

		&:focus { border: 0; outline:0; }
	}

	&__title {
		padding: 1rem;
		border-bottom: 1px solid rgb(240, 240, 240);

		&:focus { 
			border-bottom: 1px solid rgb(240, 240, 240); 
			outline: 0;
		}
	}


}

.form__select {
	padding: 1rem;
	
}

.form__label {
	
	&--month {
		flex: 0 0 7rem;
		padding: 2rem;
		text-align: center;
		&:hover { cursor: pointer; }
	}

	&--year {
		display: block;
		padding: 2rem;
		text-align: center;
		line-height: 3rem;
		&:hover { cursor: pointer; }
	}
}

.form__textarea {
	height: 100%;
	padding: 1rem;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 0;
	resize: none;

	&:focus { border: 0; outline: 0; }
}