.home {
	display: flex;
	flex-flow: column;
	width: 100%;

	&__new-entry {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;
		background-color: #f6f6f6;
		background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cacaca' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		transition: flex 0.5s ease-in;
		border-bottom: 4px solid rgb(220, 220, 220);
		

		&--expanded {
			flex: 3;
		}
	}

	&__recent-entries {
		flex: 3;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		padding: 4rem;
		//overflow: scroll;
		transition: flex 0.5s ease-in;

		&--shrink {
			flex: 1;
			overflow: hidden;
		}
	}
}

.block {
	display: flex;
	justify-content: center;
	flex-flow: column;
	flex: 0 0 40rem;
	height: 20rem;
	//width: 40rem;
	padding: 2rem;
	background-color: white;
	box-shadow: 0 0 10px 0 rgb(220, 220, 220);
	border-radius: 4px;
	transition: flex 0.5s ease-in, height 0.5s ease-in;
	
	& > h1, button {
		opacity: 1;
		transition: opacity 0.1s ease-in;
	}

	&--centered { 
		align-items: center;
	}

	&--expand {
		justify-content: flex-start;
		flex: 0 0 70rem;
		height: 100%;
	}
}
