.block {
	flex: 0 0 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	height: 20rem;
	padding: 2rem;
	background-color: white;
	box-shadow: 0 0 10px 0 rgb(220, 220, 220);
	border-radius: 4px;
	opacity: 1;
	transition: opacity 0.2s ease-in;
	
	& > h1, button {
		opacity: 1;
		transition: opacity 0.1s ease-in;
	}

	&--centered { 
		align-items: center;
	}
}
