.settings {
	position: absolute;
	display: flex;
	flex-flow: column;
	padding: 5rem;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 4px solid rgb(220, 220, 220);
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgb(220, 220, 220);
	transition: opacity 0.1s;
	z-index: 10;
	opacity: 0;

	&__block {
		padding: 1rem;
		flex: 1;
	}

	&--visible {
		opacity: 1;
	}
}

